body {
  background-color: #2c3639;
  color: #3f4e4f;
  font-family: sans-serif;
}

h1 {
  font-size: 36px;
  text-align: center;
}

h2 {
  font-size: 28px;
  margin: 0 0 5px;
}

select {
  background: #dcd7c9;
  border-color: #3f4e4f;
  border-radius: 4px;
  color: #3f4e4f;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

a {
  color: #a27b5c;
  text-decoration: none;
}

a:hover {
  color: #a27b5c;
  text-decoration: underline;
}

.container {
  background: #dcd7c9;
  border-color: #3f4e4f;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  margin: 60px auto;
  max-width: 600px;
  opacity: 0.6;
  padding: 30px;
}

.city {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 30px 0;
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 48px;
  font-weight: bold;
}

.time small {
  font-size: 24px;
  line-height: 36px;
  vertical-align: middle;
}

footer {
  color: #3f4e4f;
  font-size: 18px;
  text-align: center;
}
